* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #464fcf;
  --text-color-light: #A7AFF9;
  --border-grey: #CCC;
  --text-color-grey: #888;
}

/* box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);   default boostrap box shadow */

.full-height {
  height: 100vh;
}

/* left side */

.centered-white-container {
  width:  65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.white-subheading {
  text-transform: uppercase;
  color: var(--text-color-grey);
  font-size: 16px;
  letter-spacing: 140%;
  margin-bottom: 10px;
}

.white-heading {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
}

.button-nav {
  width: 100px;
  border: 2px solid var(--border-grey);
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color);
  height: 40px;
  position: absolute;
  top: 40px;
  right: 0;
}

.button-nav:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.button-nav:focus {
  box-shadow: none !important;
}

input, button {
  height: 50px;
  font-weight: 500;
  font-size: 14px !important;
}

input {
  box-shadow: none !important;
  border: 2.5px solid var(--border-grey) !important;
}

.input::placeholder {
  color: var(--text-color-grey);
}

input:focus {
  border-color: var(--border-grey) !important;
}

.login-btn {
  background-color: var(--main-color);
}

.login-btn:hover {
  background-color: #3c46d3;
}

.login-btn:focus {
  background-color: #3c46d3;
  /* box-shadow: 0 0 0 0.25rem rgb(70, 79, 207 / 50%) !important;   for a custom box shadow*/
  box-shadow: none !important;
}

.signup-btn {
  border: 2.5px solid var(--border-grey);
  color: var(--main-color);
}

.signup-btn:focus {
  box-shadow: none !important;
}

.signup-btn img {
  width: 15px;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-right: 5px;
}

p {
  font-size: 13.5px;
  color: var(--text-color-grey);
}

.account-link a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
}

.forgot-password {
  cursor: pointer;
}

.privacy {
  position: absolute;
  bottom: 20px;
}

.privacy a {
  color: var(--text-color-grey);
}

/* right side */

.centered-blue-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.row>div:last-of-type {
  background-color: var(--main-color);
}

img {
  width: 400px;
  align-self: center;
  margin-bottom: 20px;
}

.blue-subheading {
  text-transform: uppercase;
  color: var(--text-color-light);
  font-size: 14px;
  letter-spacing: 140%;
}

.blue-heading {
  color: #fff;
  font-weight: 300;
  font-size: 32px;
  line-height: 140%;
}

/* modal */

.modal-footer button {
  height: 40px;
}