<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="landing.css">
  <script src="https://kit.fontawesome.com/9ac427a36e.js" crossorigin="anonymous" defer></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <title>Splinter Bot</title>
</head>

<body>
  <header>
    <div class="header-nav">
      <h1>Splinter Bot</h1>
      <ul>
        <a href="#">
          <li>Home</li>
        </a>
        <a href="#">
          <li>About Us</li>
        </a>
        <a href="#">
          <li>How It Works</li>
        </a>
        <a href="#">
          <li>Dec Payout</li>
        </a>
        <a href="#">
          <li>Join Beta</li>
        </a>
        <a href="/login" class="btn-full">
          <li>Login</li>
        </a>
      </ul>
    </div>
    <div class="header-content">
      <h1 class="main-header">Grind Ingame<br>Currency Without<br>Playing</h1>
      <p>Get all of the awesome cards without putting in the hours.<br>Create an account and put the bot to work now.
      </p>
      <a href="#" class="btn-full">Get Started</a>
      <a href="#" class="btn-ghost">Learn More</a>
    </div>
    <img src="robot_undraw.svg" alt="Splinter Bot" class="header-splinter-bot-img hover-up-down">
  </header>
  <section class="about-section">
    <div class="about-content">
      <h2>What makes<br>splinter bot<br>the best</h2>
      <p>We have farmed over 1000 dark energy<br>crystals far in over a period 1 month.<br>You can learn more
        about<br>the bot by scrolling down.</p>
      <a href="#" class="btn-full"><i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="about-cards">
      <div class="about-card card-up">
        <img src="farming_undraw.svg" alt="famring feature">
        <h3>Choose how<br>you want to<br>farm</h3>
      </div>

      <div class="about-card card-down">
        <img src="data_undraw.svg" alt="data feature">
        <h3>Uses data<br>to get better<br>results</h3>
      </div>

      <div class="about-card card-up">
        <img src="currency_undaw.svg" alt="dec feature">
        <h3>1000 dec<br>won by the<br>bot already</h3>
      </div>
    </div>
  </section>
  <section class="works-section">
    <h2>How it Works</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-color: #505af0;">

          <img src="farming_undraw.svg" alt="img">
          <div>
            <h4>Click the Button and Relax</h4>
            <p>Start and stop the server by clicking a button.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-color: #272727;">
          <img src="farming_undraw.svg" alt="img">
          <div>
            <h4>Choose a Farming Method</h4>
            <p>Change your method at any time.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-color: #E43E12;">
          <img src="farming_undraw.svg" alt="img">
          <div>
            <h4>See It Live</h4>
            <p>Watch the bot live from the live tab.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-color: #535353;">
          <img src="farming_undraw.svg" alt="img">
          <div>
            <h4>Get Real Data</h4>
            <p>See how the bot performed with real data.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-color: #505af0;">
          <img src="farming_undraw.svg" alt="img">
          <div>
            <h4>Lock It Down</h4>
            <p>Access to your account is locked down by authentication.</p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev swipe-btn"></div>
      <div class="swiper-button-next swipe-btn"></div>
    </div>
  </section>
  <section class="dec-payout-section">
    <div class="dec-payout-img-div">
      <img src="value_undraw.svg" alt="dec payout" class="dec-trading-img">
    </div>
    <div class="dec-payout-content-div">
      <h2>DEC Payout</h2>
      <p>Dark energy crystals won by the bot are placed<br>directly in your account. The bot plays matches, and<br>you
        win the
        dark energy crystals. Keep all the profits.</p>
    </div>
  </section>
  <section class="beta-section">
    <div class="beta-outline-div">
      <div class="beta-content">
        <h2>Join Beta</h2>
        <p>If you are interested in joining the beta, click on the button below.
          If you are interested in joining the beta, click on the button below.
          If you are interested in joining the beta, click on the button below.
          If you are interested in joining the beta, click on the button below.
        </p>
        <div class="beta-interest-div">
          <input type="email">
          <button class="beta-interest-btn">I'm Interested</button>
        </div>
      </div>
      <img src="app_undraw.svg" alt="Join Beta">
    </div>
  </section>

  <script src="swiper.js"></script>

</body>

</html>