<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="landing.css">
  <link rel="stylesheet" href="hover.css">
  <title>Splinter Bot</title>
</head>

<body>
  <header>
    <div class="header-nav">
      <h1>Splinter Bot</h1>
      <ul>
        <a href="#">
          <li>Home</li>
        </a>
        <a href="#">
          <li>About Us</li>
        </a>
        <a href="#">
          <li>Services</li>
        </a>
        <a href="#">
          <li>Dec Payout</li>
        </a>
        <a href="#">
          <li>Contact Us</li>
        </a>
        <a href="/login" class="btn-full">
          <li>Login</li>
        </a>
      </ul>
    </div>
    <div class="header-content">
      <h1 class="main-header">Grind Ingame<br>Currency Without<br>Playing</h1>
      <p>You can never have to worry about farming in game currency again.<br>Create an account and put the bot to work right now!
      </p>
      <a href="#" class="btn-full">Get Started</a>
      <a href="#" class="btn-ghost">Learn More</a>
    </div>
    <img src="robot_undraw.svg" alt="Splinter Bot" class="header-splinter-bot-img hover-up-down">
  </header>
</body>

</html>