<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="https://kit.fontawesome.com/9ac427a36e.js" crossorigin="anonymous" defer></script>
  <script src="../public/js/server-btn.js" defer></script>
  <script src="../public/js/mode-btns.js" defer></script>
  <title>Document</title>
</head>

<body>
  <div class="page">
    <div class="sidebar">
      <div class="sidebar-header">
        <img src="../public/img/logo.png" alt="logo">
        <h2>Splinter Bot</h2>
      </div>
      <div class="sidebar-content">
        <a href="index.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="fas fa-fingerprint"></i>
            <h4>Interact</h4>
          </div>
        </a>
        <a href="statistics.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-chart-bar"></i>
            <h4>Statistics</h4>
          </div>
        </a>
        <a href="live-view.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-clock"></i>
            <h4>Live View</h4>
          </div>
        </a>
        <a href="account.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-user"></i>
            <h4>Account</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="page-content">
      <div class="top-bar">
        <h2>Interact</h2>
        <div class="profile-content">
          <h2>holland_pleskac</h2>
          <div class="profile-picture"></div>
        </div>
      </div>
      <div class="content">
        <div class="interaction-content">
          <button class="start-server-btn"></button>
          <img src="../public/img/icon_splinter_fire.svg" alt="Fire" class="fire-btn splinter-btn">
          <img src="../public/img/icon_splinter_water.svg" alt="Water" class="water-btn splinter-btn">
          <img src="../public/img/icon_splinter_earth.svg" alt="Earth" class="earth-btn splinter-btn">
          <img src="../public/img/icon_splinter_death.svg" alt="Death" class="death-btn splinter-btn">
          <img src="../public/img/icon_splinter_life.svg" alt="Life" class="life-btn splinter-btn">
          <img src="../public/img/icon_splinter_dragon.svg" alt="Dragon" class="dragon-btn splinter-btn">
        </div>
      </div>
    </div>
  </div>


  
</body>

</html>