<div class="main-content">

  <div class="battle-menu">
    <div class="total-statistics">
      <div></div>
      <div class="stats-img">
        <img src="img/league_2.png" alt="tropy">
        <img src="img/dec.png" alt="dec">
      </div>
      <div class="stats-text">
        <h4 id="win-ratio">300</h4>
        <h4 id="dec-count"></h4>
      </div>
    </div>

    <div class="splinter-btns">
      <img src="img/icon_splinter_fire.svg" alt="Fire">
      <img src="img/icon_splinter_water.svg" alt="Water">
      <img src="img/icon_splinter_earth.svg" alt="Earth">
      <img src="img/icon_splinter_life.svg" alt="Life">
      <img src="img/icon_splinter_death.svg" alt="Death">
    </div>
    <button class="toggle-server-btn"></button>
  </div>

  <div class="battle-results">
    <div class="battle-results-content">
      <!-- <div class="battle-result-even-columns">
        <div>
          <div>HVCMiner</div>
          <div class="cards-used">
            <div class="card" style="background-image: url(https://d36mxiodymuqjm.cloudfront.net/cards_beta/Torhilo%20the%20Frozen.png)"></div>
          </div>
        </div>
        <div>VS</div>
        <div class="opponent">
          <div>Opponent</div>
          <div class="cards-used">
          </div>
        </div>
      </div> -->
    </div>
  </div>

</div>

<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAYpyMNoEYkjIg_b_jxOpz4lGS_K5bE8zE",
    authDomain: "splinter-lands-farming-bot.firebaseapp.com",
    projectId: "splinter-lands-farming-bot",
    storageBucket: "splinter-lands-farming-bot.appspot.com",
    messagingSenderId: "1013134579292",
    appId: "1:1013134579292:web:5cdb140cc4cc0edd41f899"
  };
  firebase.initializeApp(firebaseConfig);
</script>
<script src="js/frontend-firebase.js"></script>
<script src="js/server.js"></script>