* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #464fcf;
  --accent-color: #171EC1;
  --text-color-dark: #3d3d3d;
  --text-color-light: #A7AFF9;
  --text-color-grey: #B2AEB2;
  --button-color: #E43E12;
}

/* reusable components */

.btn-full {
  background-color: var(--button-color);
  padding: 8px 30px;
  color: #fff !important;
  border: 2px solid #E43E12;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.btn-full:hover {
  background-color: #e23302;
}

.btn-ghost {
  background-color: var(--main-color);
  padding: 8px 30px;
  color: #A7AFF9 !important;
  border: 2px solid #A7AFF9;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:hover {
  background-color: #e23302;
  border: 2px solid #e23302;
  color: #fff !important;
}

h1 {
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 35px;
  color: var(--text-color-dark);
  line-height: 125%;
}

h3 {
  font-size: 20px;
  line-height: 125%;
}

h4 {
  font-size: 19px;
  line-height: 125%;
}

p {
  color: var(--text-color-light);
  font-size: 15px;
  line-height: 150%;
}

section {
  padding: 80px 150px 80px 100px;
}

/* header */

header {
  padding: 50px 150px 0 100px;
  background-color: var(--main-color);
  height: 100vh;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgba(255, 0, 0, 0.116); */
}

.header-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-nav ul a {
  margin: 20px;
  text-decoration: none;
  color: var(--text-color-light);
  font-size: 14px;
}

.header-content {
  position: absolute;
  bottom: 46%;
  transform: translateY(50%);
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.header-content p {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 150%;
}

.header-content a:first-of-type {
  display: inline-block;
  margin-right: 5px;
}

.header-splinter-bot-img {
  position: absolute;
  width: 600px;
  bottom: 46%;
  right: 10%;
  transform: translateY(50%);
}

.hover-up-down {
  -webkit-animation: action 2s infinite alternate;
  animation: action 2s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(48%);
  }
  100% {
    transform: translateY(52%);
  }
}

@keyframes action {
  0% {
    transform: translateY(48%);
  }
  100% {
    transform: translateY(52%);
  }
}

/* About Us Section */

.about-section {
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 30% 70%;
}

.about-section h2 {
  padding-bottom: 40px;
}

.about-section p {
  color: var(--text-color-grey);
  line-height: 160%;
}

.about-section a {
  display: inline-block;
  padding: 10px 12px;
  margin-top: 30px;
}

.about-cards {
  /* background-color: #464fcf; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-card {
  background-color: #fff;
  margin: 0 25px;
  border-radius: 10px;
  box-shadow: 0 20px 50px #a7aff942;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-card img {
  width: 70%;
  height: 40%;
  margin-top: 40px;
}

.about-card h3 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  margin-left: 30%;
}

.card-down {
  transform: translateY(20%);
}

/* How it works section */

.works-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 80px !important;
}

.works-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.swiper-container {
  width: 100%;
  height: 450px;
  padding-bottom: 50px !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

.swiper-slide img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  border: 4px solid var(--text-color-dark);
}

.swiper-slide>div {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide h4 {
  margin-bottom: 40px;
  font-size: 25px;
  color: #fff;
}

.swiper-slide p {
  font-size: 14px;
  color: #fff;
  line-height: 180%;
}

.swipe-btn {
  background-color: #fff;
  border-radius: 100px;
  width: 40px !important;
  height: 40px !important;
  margin: 40px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: var(--main-color);
  font-size: 15px !important;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: var(--main-color) !important;
}

/* dec payout section */

.dec-payout-section {
  display: flex;
  justify-content: space-between;
  padding-top: 40px im !important;
}

.dec-payout-section>div {
  width: 50%;
}

.dec-payout-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dec-trading-img {
  width: 50%;
  margin-left: 2.5%;
}

.dec-payout-content-div {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dec-payout-section h2 {
  color: var(--text-color-dark);
  margin-bottom: 40px;
}

.dec-payout-section p {
  line-height: 180%;
  font-size: 16px;
}

/* Join Beta Section */

/* Bootstrap test */


.join-beta-section {
  margin-left: 120px;
  margin-right: 120px;
}

.join-beta-section .row {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 50px 50px 0 50px;
}

.join-beta-section .col:first-of-type {
  padding-bottom: 50px;
}

.join-beta-section img {
  height: 240px;
}

.join-beta-section h2 {
  color: #fff;
}

.join-beta-section input {
  padding: 8px;
  padding-left: 20px;
  background-color: #AAAEEB;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  color: #000;
  outline: none;
  width: 220px;
}

.join-beta-section button {
  color: #fff;
  background-color: var(--button-color);
  font-size: 13px;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  transition: background-color 0.2s;
}

.join-beta-section button:hover {
  background-color: #da3507;
}

/* 

.col-3,
.col {
  outline: 2px solid red;
} */