<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="https://kit.fontawesome.com/9ac427a36e.js" crossorigin="anonymous" defer></script>
  <title>Document</title>
</head>

<body>
  <div class="page">
    <div class="sidebar">
      <div class="sidebar-header">
        <img src="../public/img/logo.png" alt="logo">
        <h2>Splinter Bot</h2>
      </div>
      <div class="sidebar-content">
        <a href="index.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="fas fa-fingerprint"></i>
            <h4>Interact</h4>
          </div>
        </a>
        <a href="statistics.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-chart-bar"></i>
            <h4>Statistics</h4>
          </div>
        </a>
        <a href="live-view.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-clock"></i>
            <h4>Live View</h4>
          </div>
        </a>
        <a href="account.html">
          <div class="sidebar-link">
            <div class="sidebar-color"></div>
            <i class="far fa-user"></i>
            <h4>Account</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="page-content">
      <div class="top-bar">
        <h2></h2>
        <div class="profile-content">
          <h2>holland_pleskac</h2>
          <div class="profile-picture"></div>
        </div>
      </div>
      <div class="content">
        <div class="live-view-content">
          <div class="battle">
            <div>
              <h3>HVC Miner</h3>
              <div class="fighters">
                <div class="fighter-img-div"><img
                    src="https://www.treehugger.com/thmb/W04nFnePn2iAP8VXRb-YzSjWI6Y=/3537x2582/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__mnn__images__2020__03__rhode-island-hen-7f9b1b93dba8401999c52f85096fbe6c.jpg"
                    alt="colorful wallpaper"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
              </div>
            </div>
            <div>
              <h3>Opponent</h3>
              <div class="fighters">
                <div class="fighter-img-div"><img
                    src="https://i.pinimg.com/originals/03/c6/1a/03c61adb9c6acf289a9b4a06c18cbe36.jpg"
                    alt="colorful wallpaper"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
                <div class="fighter-img-div"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>