<template id="top-bar-template">
  <div class="top-bar">
    <h2></h2>
    <div class="profile-content">
      <h2>holland_pleskac</h2>
      <div class="profile-picture"></div>
    </div>
  </div>
</template>

<template id="sidebar-template">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="../public/img/logo.png" alt="logo">
      <h2>Splinter Bot</h2>
    </div>
    <div class="sidebar-content">
      <div class="sidebar-link">
        <div class="sidebar-color"></div>
        <i class="fas fa-fingerprint"></i>
        <h4>Interact</h4>
      </div>
      <div class="sidebar-link">
        <div class="sidebar-color"></div>
        <i class="far fa-chart-bar"></i>
        <h4>Statistics</h4>
      </div>
      <div class="sidebar-link">
        <div class="sidebar-color"></div>
        <i class="far fa-clock"></i>
        <h4>Live View</h4>
      </div>
      <div class="sidebar-link">
        <div class="sidebar-color"></div>
        <i class="far fa-user"></i>
        <h4>Account</h4>
      </div>
    </div>
  </div>
</template>