*
  margin: 0
  padding: 0
  box-sizing: border-box

$main-color: #464fcf
$text-color-light: #A7AFF9
$border-grey: #CCC
$text-color-grey: #888

body>div
  height: 100vh
  width: 100vw

// Sidebar Navigation

.sidebar
  background-color: $main-color
  height: 100%
  width: 260px

.header
  color: #fff !important
  text-decoration: none
  font-size: 17px
  font-weight: 400
  height: 75px
  &:hover
    color: #fff

hr
  color: $text-color-light
  height: 1.2px !important

// Pills

.sidebar
  a
    color: $text-color-light
    font-size: 15px
    i
      font-size: 14px
    &:hover
      color: #fff
  .active
    color: #fff

// Top Bar

.topbar
  height: 75px
  width: calc(100% - 260px)
  p
    color: $text-color-grey
    font-size: 14px

.prof-img
  object-fit: cover
